/*#line{
			flex-direction: column;
		}*/

		.main-card{
			width: 100%;
			background-color: white;
			height: 300px;
			border-radius: 2%;
		}

		.input-container{
			display: flex;
			background-color: white;
			height: 250px;
			border-radius: 0 0 3% 3%;
			justify-content: space-around;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
		}

		.header{
			background-color: #2F80ED;
			color: white;
			border-radius: 5% 5% 0 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
			height: 50px;
		}

		.entry{
			margin-bottom: 3rem;
			padding: 10px;
		}